*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: coral;
   
}

.header{
    display: flex;
    justify-content: space-between;
   
}
.location{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

button{
    background-color: rgb(132, 132, 132);
    color: whitesmoke;
    border: 2px solid rgb(44 44 140)
}

.main-layout{
    max-width: 1450px;
    margin: auto;
}

.locations{
    margin: auto;
}